* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.color--#969799 {
    color: #969799;
}

.color--#333333 {
    color: #333333;
}

.color--green {
    color: #1fb19e;
}

.color--#ff8b37 {
    color: #ff8b37;
}

.color--#eb4c44 {
    color: #eb4c44;
}